<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--The following must be http or https URIs which exactly match the ones in the Mod's config file.-->
		<!--URI for the game's connection to the server.-->
		<add key="GameToServerURI" value="http://localhost:8080"/>
		<!--URI for the server's connection to the game.-->
		<add key="ServerToGameURI" value="http://localhost:8081"/>
		
		<!--URI for Neuro/Evil's connection to the server. Equivalent to the NEURO_SDK_WS_URL environment variable.-->
		<add key="NeuroURI" value=""/>
	</appSettings>
</configuration>